[merge]
	tool = gvimdiff
	; tool = mvimdiff
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	sw = checkout
	revertfile = checkout
	branch-new-and-switch = checkout -b
	br = branch
	branch-delete = branch -d
	ci = commit
	st = status
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~1
	last = log -1 HEAD
	push-master = push origin master
[core]
	excludesfile = ~/.gitignore
