[user]
	name = Jian Lin
	email = linjian815@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	sw = checkout
	revert-local = checkout -- ; copies files from the stage to the working directory
	revert-all = checkout HEAD -- ; copies files from the latest commit to both the stage and the working directory
	branch-new-and-switch = checkout -b
	branch-delete = branch -d
	branch-refresh = remote prune origin ; remove the remote branches which have been deleted
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~1
	last = log -1 HEAD
	push-master = push origin master
	diffall = diff HEAD ; diff local(include staged files) with last commit
	diffstage = diff --cached ; diff stage with last commit
	difftoolstage = difftool --cached
	cleantest = clean -nd
	cleanreally = clean -fd
[core]
	excludesfile = ~/.gitignore
; Fix the "error: There was a problem with the editor 'vi'." while commit.
; The reason is that I installed MacVim, and added vim alias to use MacVim in terminal.
; But the exit code of MacVim is non-zero, so here we use pre-installed vim instead.
	editor = /usr/bin/vim
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = No
