*~
.backups/
*.swp
.netrwhist
*/.vim/sessions/
log/
spec/support/deferred_garbage_collection_all_in_one.rb
features/step_definitions/deferred_garbage_collection_all_in_one.rb
public/framework
config/initializers/*puts_to_log.rb
zeus.json
bundler_stubs/
Gruntfile.js.backup.*
.powder
src/code.google.com/
.envrc
